*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
.navbar{
    background-color: rgb(0, 0, 0) !important;
    height: 150px;
    border: none;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}
.divvv {
    width: 300px;
    height: auto;
    padding-right: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.dropdown{
    position: relative;
    display: inline-block;
    border: #000000 3px;
    transition: all 2s ease !important;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 60px;
    border-radius: 8px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    gap: 5px;
    transition: all 2s ease;
  }
  .dropdown:hover .dropdown-content {
    display: block;
    transition: all 2s ease;
  }
  .search{
    width: 800px;
    background-color: white;
    height: 15px;
    border-radius: 45px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}
.search input{
    width: 440px;
    border: none;
    outline: none;
    height: 40px;
}
.main1{
    width:100%;
    height: 803px;
    background-color: black;
}
.div1{
    color: white;
    /* padding-top: 1px !important; */
    /* padding-left: 850px; */
    display: flex;
    gap:10px;
    /* padding-right: 30px; */
    flex-direction: row;
    text-align: center;
    justify-content: center;
    transition: all 2s ease;
    width: 200px;
}
.fa-globe:hover{
    font-size: 1.3rem;
    transform: rotate(360deg);
}
.div-img{
    width: 100px;
    height: 100px;
    transition: all 2s ease;
}
.div-img:hover{
    transform: rotate(360deg);
}

.rolls{
    display:flex;
    justify-content:center;
    align-items: center;
    width:100%;
    height:820px;
    padding-bottom: 20px;
}

.div2{
    width: 100%;
    height: 100px;
}
.buty{
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius:5px;
    font-size: 19px;
    transition: all 2s ease;
}
.buty:hover{
    box-shadow: rgba(0,0,0,0.2);
    background-color: #000000;
    color: white;
}
.buty1{
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius:5px;
    font-size: 21px;
    transition: all 2s ease;
}
.buty1:hover{
    box-shadow: rgba(0,0,0,0.2);
    background-color: #000000;
    color: white;
}
.he{
    font-size: 20px;
    margin: none;
    padding: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar3{
    width: 100%;
    height: 100px;
    background-color: black;
}
.section1{
    width: 100% !important;
    height: 890px !important;
    background-image: url(./cattouchret.jfif);
    background-repeat:no-repeat;
    background-size: cover;
    padding-bottom: 100px;
    background-position: center;
}

.rool{
    width:100%;
    height: auto;
    display: flex;
}

.div3{
    flex-direction: column;
    font-family: 'Noto Sans Wancho', sans-serif;
    display: flex;
    align-items: flex-start;
    text-align:center;
    gap:10px;
    justify-content:center;
    margin: 1px;
    padding-left: 140px;
    padding-top: 600px;
}

.button1{
    border: 3px solid white;
    font-size: xx-large;
    color: white !important;
    background-color: transparent;
    border-radius: 10px;
    padding:2px;
    transition: all 1s ease;
    width: 50px;
}
.buttont{
    font-size:60px;
    color: white;
    background-color: transparent;
    border-radius: 10px;
    padding:2px;
    transition: all 1s ease;
    width: 50px;
}
.buttont:hover{
    background-color:rgba(255, 255, 255, 0);
    color: rgb(255, 255, 255) !important;
    font-size: 60px;
}
.button1:hover{
    background-color:rgba(255, 255, 255, 0);
    color: rgb(255, 255, 255) !important;
    border: 3px solid white !important;
    font-size: xx-large;
    transform: skewX(20deg);
    margin-left:40px;
}

.section2{
    width: 100%;
    height: 730px;
    background-color: white;
}

.rolll{
    width:100%;
    height: 550px;
    background-color: black;
}

.rokl{
    width:100%;
    height: auto;
    display: flex;
}

.div4{
    padding-left: 150px;
    width: auto;
    padding-top: 100px;
    flex-direction: column;
    font-family: 'Noto Sans Wancho', sans-serif;
    transition: all 2s ease;
}
.button2{
    border: 3px solid white;
    /* font-size: xx-large; */
    background-color: transparent;
    border-radius:10px;
    /* padding:2px; */
    transition: all 1s ease;
}

.button2:hover{
    background-color:rgba(255, 255, 255, 0);
    color: black !important;
    border: 3px solid white !important;
    font-size: xx-large;
    border-radius: 20px;
    transform: rotate(50deg);
    margin-left: 25px;
}
.button2::selection{
    background-color:rgba(255, 255, 255, 0);
    color: black !important;
    border: 3px solid white !important;
    font-size: xx-large;
    border-radius: 20px;
    transform: rotate(50deg);
    margin-left: 25px;
}
.button3{
    border: 3px solid white;
    /* font-size: xx-large; */
    background-color: transparent;
    border-radius:70px;
    /* padding:2px; */
    transition: all 1s ease;
}

.button3:hover{
    background-color:transparent;
    color: black !important;
    border: 3px solid white !important;
    font-size: xx-large;
    transform:matrix3d(50deg);
}
.button4{
    border: 3px solid white;
    /* font-size: xx-large; */
    background-color: transparent;
    border-radius:70px;
    /* padding:2px; */
    transition: all 1s ease;
}

.button4:hover{
    background-color:white;
    color: black !important;
    border: 3px solid white !important;
    font-size: xx-large;
    transform: rotateZ(90deg);
}
.Rool{
    border: 3px solid transparent;
}

.logo{
    width: 100%;
}

.navbar3{
    width: 100%;
    height: 130px;
    background-color: black;
}

.section3{
    width: 100%;
    height: 1600px !important;
    background-color: rgb(0, 0, 0);
    /* background-repeat: no-repeat; */
    /* background-position: center; */
    /* background-size: 100%; */
    background-image: url(./Article_168977_860_575.jpg);
    background-repeat: no-repeat;
    background-size:contain;
    margin-top: 120px;
    background-position:center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.div8{
    margin-left: 50px;
    font-family: 'Noto Sans Wancho', sans-serif;
} 

.navbar4{
    width: 100%;
    height: 130px;
    background-color: black;
}

.section4{
    width: 100%;
    height: 600px;
    background-color: white;
    background-image: url(./ec11b9b12f412dfc616a2212563a6da2e25a2776.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    padding-bottom:100px;
    padding-top: 400px;
    display: flex;
}

.div9{
    padding-left: 150px;
    padding-top: 300px;
    flex-direction: column;
    font-family: 'Fasthand', cursive;
    font-family: 'Noto Sans Wancho', sans-serif;
}

.navbar2{
    width: 100%;
    height: 130px;
    background-color: black;
}

.button3{
    border: 3px solid currentColor;
    font-size: xx-large;
    background-color: transparent;
    border-radius: 60px;
    padding:2px;
    transition: all 1s ease;
}

.button3:hover{
    background-color:white;
    color: black !important;
    border: 3px solid currentColor!important;
    font-size: xx-large;
}
/* .jr{
    width:100% !important;
    height:auto;
    display: flex;
    justify-content: center;
    align-items: center;
} */

/* .imggg {
    width: 100px;
    height: auto;
} */

.iframeph{
    width: 100%;
    height: 800px;
}
.iframe4 {
    width: 100%;
    height: 100%;
}
.ifremes{
    width: 100%;
    height: 100%;
}
.iframephs{
    width: 100%;
    height: 800px !important;
    display: flex;
    justify-content: center;
    align-items: center;
}
.isfr{   
    width: 100%;
    height: 100%;
}
.diu{
    width: 100%;
    height: 800px !important;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 27px;
}
footer {
    background-color: #000000;
    height: auto;
    width: 100vw;
    font-family: "Open Sans";
    padding-top: 40px;
    color: white;
    margin-top: 35px;
}
.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3 {
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}
.footer-content p {
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
  }
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 1rem 0;
}
  .socials li{
    margin: 0 10px;
}
.socials a {
    text-decoration: none;
    color: white;
}
  .socials a i {
    font-size: 1.5rem;
    transition: color 0.4s ease;
}
.fa-facebook:hover{
    color: blue;
    font-size: 1.3rem;
}
.fa-twitter:hover{
    color: aqua;
    font-size: 1.3rem;
}
.fa-google-plus:hover{
    color:rgb(128, 0, 0);
    font-size: 1.3rem;
}
.fa-youtube:hover{
    color: rgb(255, 0, 0);
    font-size: 1.3rem;
}
.fa-linkedin-square:hover{
    color: rgb(21, 118, 255);
    font-size: 1.3rem;
}
.footer-bottom{
    background-color: black;
    width: 100vw;
    padding: 20px 0;
    text-align: center;
}
.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}
.footer-bottom span{
    text-transform: uppercase;
    opacity: 0.4;
    font-weight: 200;
}
.header{
    width: 100%;
}
.dev{
    display: flex;
    justify-content: space-evenly;
    gap: 250px;
}