*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
.navbar1{
    background-color: black;
    width:100%;
    height:140px;
}
.div1{
    color:white;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 30px;
    border: 3px solid white;
    transition: all 2s ease;
    font-family: 'Fasthand', cursive;
font-family: 'Kolker Brush', cursive;
font-family: 'Merriweather', serif;
font-family: 'Playfair Display', serif;
}
.buttont{
    font-size:60px;
    color:white;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 10px;
    padding-left:2px;
    transition: all 1s ease;
    width:3%;
}
.buttont:hover{
    background-color:rgb(0, 0, 0);
    color: black !important;
    font-size:65px;
}
.section1{
    width: 100%;
    height: auto;
}
.img1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    position: absolute;
    z-index: -1;
}
.div2{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-color: black;
    border: 2px solid white;
    font-size: 30px;
    font-family: 'Fasthand', cursive;
font-family: 'Kolker Brush', cursive;
font-family: 'Merriweather', serif;
}
.dibu{
    color: white;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.bigul{
    color: white;
    font-size: 25px;
}
.button1{
    background-color: transparent;
    color: white;
    transition: all 1s ease;
}